[Unit]
Description=Update Resources Service
After=influxdb.service

[Service]
Type=simple
User=pi
WorkingDirectory=/tmp
ExecStart=/usr/bin/python3 /opt/update-resources.py
Restart=on-failure # or always, on-abort, etc

[Install]
WantedBy=multi-user.target